.container-index {

    min-height: 100vh;
    border-radius: 0px 0px 150px 150px;
    background: radial-gradient(51.9% 336.54% at 51.9% 50%, #241B4D 0%, #1B1B1B 100%);

    &.raduis-left {

        border-radius: 0px 0px 0px 150px;
        min-height: auto;

    }

    &.bottom-padding {

        padding-bottom: 190px;

    }

}