.concert {

    height: 100vh;
    position: relative;

    .content-concert {

        position: relative;
        z-index: 1;
        height: 100%;

        @include flex(column, space-between, center);
        padding: 102px 67px 80px; 

        .top-part {

            width: 100%;

            p {

                text-align: right;
                font-weight: 800;
                font-size: 50px;
                line-height: 63px;

                background: linear-gradient(89.6deg, #D99CF0 -2.19%, #927BF9 102.14%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;


            }

        }

        .bottom-part {

            width: 100%;

            @include flex(row, space-between, center);

            .left-part {

                p {

                    @include flex(column, center, flex-start);
                    font-weight: 800;
                    font-size: 60px;
                    line-height: 76px;

                    span {

                        font-weight: 400;
                        font-size: 35px;
                        line-height: 44px;

                    }

                }

            }

            .right-part {

                @include flex(column, center, center);

                .price {

                    p {

                        font-weight: 800;
                        font-size: 40px;
                        line-height: 50px;
                        margin-bottom: 15px;

                    }

                }

            }


        }

    }

}